<!DOCTYPE html>
<html>
<head>
    <title style="color: aliceblue;">PowerBI</title>
    <!-- Add Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <!-- Add custom CSS to remove bullet points -->
    <style>
        ul, li {
            list-style-type: none;
        }
        body {
            background-color: #000080;
        } 
    </style>
</head>
<body>
    <div class="container">
        <h1 style="color: aliceblue;">PowerBI</h1>

        <!-- <iframe title="Live PI Working Group Visibility" width="1200" height="800" src="https://app.powerbi.com/reportEmbed?reportId=064beb26-88b9-4957-9306-adbb4dea0434&autoAuth=true&ctid=f6da72b0-7977-4b09-bdfc-d38b2aa56d4c" frameborder="0" allowFullScreen="true"></iframe> -->
         
        <iframe title="Libre Test" width="1200" height="700" src="https://app.powerbi.com/reportEmbed?reportId=12a6b455-5ee6-410d-8b21-9a9321149415&autoAuth=true&ctid=f6da72b0-7977-4b09-bdfc-d38b2aa56d4c" frameborder="0" allowFullScreen="true"></iframe>
    </div>
</body>